html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: inherit; }

body {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  background-color: #98a6bd;
  max-width: 120em;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  place-items: center; }

@media (min-width: 55em) {
  main {
    display: grid;
    grid-template-areas: "a a" "b c";
    grid-template-columns: 1fr 1fr; } }

.title {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: bold; }
  .title--sm {
    line-height: 1;
    font-size: 1.25rem; }

.join {
  background-color: white;
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 2.25rem 1.5rem 2.25rem 2.25rem;
  color: #75798a;
  grid-area: a; }
  .join__title {
    color: #2ab2af;
    margin-bottom: 1.5rem; }
  .join__sub-title {
    color: #c0df34;
    margin-bottom: 0.5rem; }
  .join__para {
    max-width: 55ch; }

.subscribe {
  background-color: #2ab2af;
  color: white;
  padding: 2.25rem;
  grid-area: b; }
  @media (min-width: 55em) {
    .subscribe {
      border-radius: 0 0 0 0.8rem; } }
  .subscribe__title {
    margin-bottom: 1.5rem; }
  .subscribe__pricing {
    display: flex;
    align-items: center;
    gap: 0.5rem; }
  .subscribe__amount {
    font-size: 2rem;
    font-weight: 700; }
  .subscribe__cycle {
    opacity: 0.8; }
  .subscribe__para {
    margin-bottom: 0.5rem; }
  .subscribe__button {
    margin-top: 1.5rem;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center; }

.why {
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: #4bbebc;
  padding: 2.25rem;
  color: white;
  grid-area: c; }
  @media (min-width: 55em) {
    .why {
      border-radius: 0 0 0.8rem 0; } }
  .why__title {
    margin-bottom: 0.5rem; }
  .why__list {
    list-style: none;
    opacity: 0.8;
    line-height: 1; }

.button {
  outline: none;
  background-color: #c0df34;
  border: 2px solid #c0df34;
  padding: 0.5em 1.5em;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  transition: all 350ms linear; }
  .button:active, .button:link, .button:hover, .button:visited {
    color: inherit;
    text-decoration: none; }
  .button:hover, .button:focus {
    border: 2px dotted;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.7; }
