:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --grayish-blue: hsl(218, 22%, 67%);
  --light-gray: hsl(204, 43%, 93%);
  --v-light-gray: hsl(179, 47%, 52%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  background-color: var(--grayish-blue);

  width: calc(100vw - 2rem);
  min-height: 100vh;

  display: grid;
  place-items: center;
  margin: 1rem;
}

/*
 *
 *
 *
 * @TODOS
 *   - box shadow card ✅
 *   - code structure ✅
 *   - spacing ✅
 *   - align card center ✅
 */

/*
 * Typography
*/

.join__title {
  font-size: 1.4rem;
  color: var(--cyan);
  font-weight: bold;

  margin-bottom: 1.5rem;
}

.join__sub-title {
  font-size: 1.1rem;
  color: var(--bright-yellow);
  font-weight: bold;

  margin-bottom: 1rem;
}

.join__para {
  line-height: 1.7;
  color: var(--light-gray);

  max-width: 60ch;
}

.subscribe__title {
  font-size: 1.4rem;
  font-weight: bold;

  margin-bottom: 1.5rem;
}

.subscribe__sub-title span:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.subscribe__sub-title span:last-child {
  font-size: 1rem;
  opacity: 0.7;
}

.why__title {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
/*
 * Layout
 */

.subscribe__sub-title {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
}

.subscribe__para {
  margin-bottom: 1rem;
}

/*
 * Components
 */

.join--card {
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 2rem;
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.subscribe--card {
  background-color: var(--cyan);
  padding: 2rem;
  color: white;
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.why--card {
  background-color: var(--v-light-gray);
  padding: 2rem;
  color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 6px 5px 1px rgb(0 0 0 / 30%);
}

.subscribe__button:active,
.subscribe__button:link,
.subscribe__button:hover,
.subscribe__button:visited {
  color: white;
  text-decoration: none;
}

.subscribe__button {
  text-align: center;
  font-weight: bold;
  background-color: var(--bright-yellow);

  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;

  border-radius: 0.5rem;
  display: inline-block;
}

.subscribe__button:hover {
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.why__list {
  opacity: 0.8;
  line-height: 1.4;

  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 400px) {
  .lower-section {
    display: flex;
  }

  .subscribe--card {
    border-radius: 0 0 0 0.5rem;
  }

  .why--card {
    border-radius: 0 0 0.5rem 0;
    box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 30%);
  }

  .join--card {
    width: 38.5rem;
  }

  .subscribe--card {
    width: 19.25rem;
  }

  .why--card {
    width: 19.25rem;
  }
}
